div.file {
  position: relative;
  overflow: hidden;
}

div.file input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

.images {
  margin-top: 20px;
}

.images img.product-thumbnail {
  text-align: center;
  background: #f5f8fa;
  padding: 5px;
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin: 10px;
}

