<template>
    <div class="images row">
        <div v-for="item,index in items" class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <img class='product-thumbnail' :src="imagePath(item.random_filename)">
                    <input type="text" class="form-control input-sm" v-model="item.name" placeholder="Name">
                    <br>
                    <input type="text" class="form-control input-sm" v-model="item.price" placeholder="Price">
                    <br>
                    <button class="pull-right btn btn-info btn-xs" @click="updateItem(index)">UPDATE</button>    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props : [
            'items'
        ],
        name: 'row-products',
        mounted() {
            console.log(this.items);
        },
        methods : {
            imagePath : function(file_name) {
                return base_url+'/storage/uploads/'+file_name;
            },
            updateItem : function(id) {
                let item = this.items[id];
                let self = this;
                axios.post(base_url+'/products/update-item',{
                    item_id : item.id,
                    item_details : {
                        name : item.name,
                        price : item.price,
                    }
                })
                .then(function (response) {
                    // self.$set(self,'list_model',response.data);
                    alert(response.data.MESSAGE);
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        }
    }
</script>
